mango-springsupport/src/main/resources/META-INF/mango.xsd

<xsd:schema xmlns="http://code.mindflow.com/schema/mango"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:tool="http://www.springframework.org/schema/tool"
            xmlns:beans="http://www.springframework.org/schema/beans"
            targetNamespace="http://code.mindflow.com/schema/mango">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace" />
    <xsd:import namespace="http://www.springframework.org/schema/tool"/>
    <xsd:import namespace="http://www.springframework.org/schema/beans"/>

    <xsd:import namespace="http://www.springframework.org/schema/beans"/>

    <xsd:complexType name="abstractConfig">
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
            <xsd:element ref="beans:property" minOccurs="0" maxOccurs="unbounded" />
        </xsd:choice>
        <xsd:anyAttribute namespace="##other" processContents="lax" />
    </xsd:complexType>

    <xsd:element name="service">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="abstractConfig">
                    <xsd:choice minOccurs="0" maxOccurs="unbounded">
                        <xsd:element ref="beans:property" minOccurs="0" maxOccurs="unbounded" />
                    </xsd:choice>
                    <xsd:attribute name="id" type="xsd:ID">
                        <xsd:annotation>
                            <xsd:documentation><![CDATA[ id. ]]></xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="ref" type="xsd:string" use="required">
                        <xsd:annotation>
                            <xsd:documentation><![CDATA[ 服务接口实现类. ]]></xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="interface" type="xsd:string" use="required"/>
                    <xsd:attribute name="group" type="xsd:string" use="optional"/>
                    <xsd:attribute name="version" type="xsd:string" use="optional"/>
                    <xsd:attribute name="registry" type="xsd:string" use="optional"/>
                    <xsd:attribute name="protocol" type="xsd:string" use="optional"/>
                    <xsd:attribute name="timeout" type="xsd:string" use="optional"/>
                    <xsd:attribute name="retries" type="xsd:string" use="optional"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="reference">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="abstractConfig">
                    <xsd:choice minOccurs="0" maxOccurs="unbounded">
                        <xsd:element ref="beans:property" minOccurs="0" maxOccurs="unbounded" />
                    </xsd:choice>
                    <xsd:attribute name="id" type="xsd:ID" />
                    <xsd:attribute name="interface" type="xsd:string" use="required"/>
                    <xsd:attribute name="group" type="xsd:string" use="optional"/>
                    <xsd:attribute name="version" type="xsd:string" use="optional"/>
                    <xsd:attribute name="registry" type="xsd:string" use="optional"/>
                    <xsd:attribute name="timeout" type="xsd:string" use="optional"/>
                    <xsd:attribute name="retries" type="xsd:string" use="optional"/>
                    <xsd:attribute name="check" type="xsd:boolean" use="optional"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="registry">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="abstractConfig">
                    <xsd:choice minOccurs="0" maxOccurs="unbounded">
                        <xsd:element ref="beans:property" minOccurs="0" maxOccurs="unbounded" />
                    </xsd:choice>
                    <xsd:attribute name="id" type="xsd:ID" />
                    <xsd:attribute name="protocol" type="xsd:string" use="required"/>
                    <xsd:attribute name="address" type="xsd:string" use="required"/>
                    <xsd:attribute name="username" type="xsd:string" use="optional"/>
                    <xsd:attribute name="password" type="xsd:string" use="optional"/>
                    <xsd:attribute name="connect-timeout" type="xsd:string" use="optional"/>
                    <xsd:attribute name="session-timeout" type="xsd:string" use="optional"/>
                    <xsd:attribute name="default" type="xsd:boolean" use="optional"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="protocol">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="abstractConfig">
                    <xsd:choice minOccurs="0" maxOccurs="unbounded">
                        <xsd:element ref="beans:property" minOccurs="0" maxOccurs="unbounded" />
                    </xsd:choice>
                    <xsd:attribute name="id" type="xsd:ID" />
                    <xsd:attribute name="name" type="xsd:string" use="required"/>
                    <xsd:attribute name="port" type="xsd:string" use="required"/>
                    <xsd:attribute name="host" type="xsd:string" use="optional"/>
                    <xsd:attribute name="codec" type="xsd:string" use="optional"/>
                    <xsd:attribute name="serialization" type="xsd:string" use="optional"/>
                    <xsd:attribute name="pool-type" type="xsd:string" use="optional"/>
                    <xsd:attribute name="min-pool-size" type="xsd:string" use="optional"/>
                    <xsd:attribute name="max-pool-size" type="xsd:string" use="optional"/>
                    <xsd:attribute name="charset" type="xsd:string" use="optional"/>
                    <xsd:attribute name="payload" type="xsd:string" use="optional"/>
                    <xsd:attribute name="heartbeat" type="xsd:string" use="optional"/>
                    <xsd:attribute name="buffer-size" type="xsd:string" use="optional"/>
                    <xsd:attribute name="default" type="xsd:boolean" use="optional"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="application">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="abstractConfig">
                    <xsd:choice minOccurs="0" maxOccurs="unbounded">
                        <xsd:element ref="beans:property" minOccurs="0" maxOccurs="unbounded" />
                    </xsd:choice>
                    <xsd:attribute name="id" type="xsd:ID" />
                    <xsd:attribute name="name" type="xsd:string" use="required"/>
                    <xsd:attribute name="manager" type="xsd:string" use="optional"/>
                    <xsd:attribute name="organization" type="xsd:string" use="optional"/>
                    <xsd:attribute name="version" type="xsd:string" use="optional"/>
                    <xsd:attribute name="env" type="xsd:string" use="optional"/>
                    <xsd:attribute name="default" type="xsd:boolean" use="optional"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>